.topElement{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.bank, .work, .laptops{
    border: 1px outset lightgrey;
    background-color: white;
    text-align: left;
    padding: 20px;
}

.head{
    background-color: #6E6968;
    color: white;
    font-size: 16px;
    height: 20px;
    padding: 20px;

}

.head h2{
    margin: 0;
}

.knapp{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    padding: 13px 30px;

}


.grey{
    background-color: white;
    color: black;
    border: 1px solid darkgrey;

}

.grey:hover{
    background-color: darkgray;
    color: white;
}


.success{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}

.success:hover{
    background-color: #4CAF50;
    color: white;

}

#bankButton{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid steelblue;
}

#bankButton:hover{
    background-color: steelblue;
    color: white;
}

.padding{
    padding:5px 0;
}

body{
    margin: 0;
}

*{font-family: 'Raleway', sans-serif;
    font-weight: 300;
}


img{
    width: 600px;
}

#computerName, #price, #description, #features, #image{
    display: block;
}

#loanButton, #buyButton{
    display: none;
}


